<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="cart.css">
</head>

<body>
    <div id="navbar"></div>
    <div class="cart-container">
        <h1>Shopping Cart</h1>
        <div id="cart-items">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cart_body">
                    {{#each book}}
                    <tr>
                        <td><img src="data:image/jpeg;base64,{{img}}" alt="{{this.book.bookName}}"></td>
                        <td>{{this.book.bookName}}</td>
                        <td>{{this.book.author}}</td>
                        <td>{{this.book.price}}</td>
                        <td><button onclick="removeFromCart('{{this._id}}')">Remove</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <button id="checkout-btn">Checkout</button>
    </div>
    <div id="footer"></div>
    <script src="script.js"></script>
    <script src="cart.js"></script>
</body>
</html>