<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="category.css">
</head>

<body>
    <div id="contactUs_navbar"></div>
    <h1>Product Detail</h1>
    <main>
        <div class="product-image">
        </div>
        <div class="product-details">
            <img src="data:image/jpeg;base64,{{imageData}}" alt="{{bookName}}">
            <h1>{{book.bookName}}</h1>
            <h3>Author: <i>{{book.author}}</i></h3>
            <p>{{book.description}}</p>
            <p>Price: ${{book.price}}</p>
            <a href="/addCart?&bookId={{book._id}}"><button class="add-to-cart-btn">Add to Cart</button></a>
        </div>
    </main>

    <div id="footer"> </div>
    <script src="/category.js"></script>
</body>

</html>